<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Post+No Bills Jaffna SemiBold&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles.css">
    <style>
        /*
          Figma Background for illustrative/preview purposes only.
          You can remove this style tag with no consequence
        */
        body {
            background: #E5E5E5;
        }
    </style>

</head>

<body>
<div id="e2_4">
    <div id="e2_5">
        <div id="e2_6"></div>
        <div id="e2_7"><span id="e2_8">Uni Bot</span><span id="e2_9">Телеграм бот</span></div>
        <div id="e2_10"><span id="e2_11">О боте</span><span id="e2_12">Наши отзывы</span><span id="e2_13">Демонстрация работы</span><span
                id="e2_14">Контакты</span></div>
        <div id="e2_16"><span id="e2_17">Универсальный помощник в Telegram</span>
            <div id="e2_18">
                <div id="e2_19"></div>
                <div id="e2_20"></div>
            </div>
            <span id="e2_22">@wwender</span>
            <div id="e2_29"></div>
        </div>
    </div>
    <span id="e2_30">II</span><span id="e2_31">III</span><span id="e2_32">IV</span><span id="e2_33">V</span>
    <div id="e2_34"><span id="e2_35">Наши отзывы</span>
        <div id="e5_0"></div>
    </div>
    <div id="e2_44"><span id="e2_83">Большая база вопросов</span><span id="e2_84">Мгновенный ответ</span><span
            id="e2_85">Возможность общения</span><span id="e2_86">Постоянная модерация</span>
        <div id="e2_87">
            <div id="e3_2"></div>
        </div>
        <div id="e3_0"></div>
        <div id="e4_0"></div>
    </div>
    <div id="e2_160">
        <div id="e2_161"></div>
        <span id="e2_162">Топ задаваемых вопросов:</span></div>
    <div id="e2_172">
        <div id="e2_173"></div>
        <div id="e2_174">
            <div id="e2_175"></div>
        </div>
    </div>
    <div id="e2_179">
        <div id="e2_181">
            <div id="e2_182"></div>
            <span id="e2_183">Ваше имя</span></div>
        <div id="e2_184">
            <div id="e2_185"></div>
            <span id="e2_186">Ваш телефон</span></div>
        <div id="e126_3">
            <div id="e126_4"></div>
            <span id="e126_5">Ваша почта</span></div>
        <div id="e2_187">
            <div id="e2_188"></div>
            <span id="e2_189">Отправить заявку</span></div>
        <span id="e2_190">Есть вопросы? Мы вам напишем:</span></div>
    <div id="e3_1"></div>
    <div id="e5_1"></div>
    <div id="e5_2"></div>
    <div id="e5_3"></div>
    <span id="e126_2">Бот Юни - это: </span><span id="e126_6">Демонстрация работы</span><span id="e126_7">заявка отправлена! </span>
    <div id="e131_12661">
        <div id="e131_12662"></div>
        <div id="e131_12663">
            <div id="e131_12664">
                <div id="e131_13132">
                    <div id="e131_13133">
                        <div id="e131_13134"></div>
                        <div id="e131_13135"></div>
                    </div>
                    <span id="e131_13138">1 230</span></div>
            </div>
            <div id="e131_12781">
                <div id="e131_12782">
                    <div id="e131_12783"></div>
                    <div id="e131_12784"></div>
                </div>
                <span id="e131_12787">question</span></div>
            <div id="e131_12820">
                <div id="e131_12821">
                    <div id="e131_12822"></div>
                    <div id="e131_12823"></div>
                </div>
                <span id="e131_12826">answer</span></div>
            <div id="e131_13171">
                <div id="e131_13172">
                    <div id="e131_13173"></div>
                    <div id="e131_13174"></div>
                </div>
                <span id="e131_13177">987</span></div>
            <div id="e131_13210">
                <div id="e131_13211">
                    <div id="e131_13212"></div>
                    <div id="e131_13213"></div>
                </div>
                <span id="e131_13216">679</span></div>
            <div id="e131_13288">
                <div id="e131_13289">
                    <div id="e131_13290"></div>
                    <div id="e131_13291"></div>
                </div>
                <span id="e131_13294">23</span></div>
            <div id="e131_13327">
                <div id="e131_13328">
                    <div id="e131_13329"></div>
                    <div id="e131_13330"></div>
                </div>
                <span id="e131_13333">8</span></div>
            <div id="e131_13366">
                <div id="e131_13367">
                    <div id="e131_13368"></div>
                    <div id="e131_13369"></div>
                </div>
                <span id="e131_13372">$45 000</span></div>
            <div id="e131_13405">
                <div id="e131_13406">
                    <div id="e131_13407"></div>
                    <div id="e131_13408"></div>
                </div>
                <span id="e131_13411">$35 000</span></div>
            <div id="e131_13444">
                <div id="e131_13445">
                    <div id="e131_13446"></div>
                    <div id="e131_13447"></div>
                </div>
                <span id="e131_13450">$18 000</span></div>
            <div id="e131_13483">
                <div id="e131_13484">
                    <div id="e131_13485"></div>
                    <div id="e131_13486"></div>
                </div>
                <span id="e131_13489">$9 700</span></div>
            <div id="e131_13522">
                <div id="e131_13523">
                    <div id="e131_13524"></div>
                    <div id="e131_13525"></div>
                </div>
                <span id="e131_13528">$5 450</span></div>
            <div id="e131_13561">
                <div id="e131_13562">
                    <div id="e131_13563"></div>
                    <div id="e131_13564"></div>
                </div>
                <span id="e131_13567">$300</span></div>
        </div>
        <div id="e131_13249">
            <div id="e131_13250">
                <div id="e131_13251"></div>
                <div id="e131_13252"></div>
            </div>
            <span id="e131_13255">540</span></div>
    </div>
</div>
</body>
</html>